        /*GENERAL*/
*{
  margin: 0;
  padding: 0;
}
p{
  color: white;
}
html{
  box-sizing: border-box;
  min-width: 414px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
        /*END GENERAL*/

        /*HEADER*/
.navbar{
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: rgb(247, 247, 247);
  margin: 0 auto;
  padding: 15px 0;
  -webkit-box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);
  -moz-box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);
  box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);
}
.icon{
    flex: 1;
    text-align: center;
}
.icon:first-child{
  margin: 0 auto;
}
.icon > a > i{
  color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
  transition: ease-in .3s;
}
.icon > a > i:hover{
  color: rgb(68, 142, 129);
}
.searchbar{
  display: none;
  position: absolute;
  bottom: -52px;
  width: 100%;
  background-color: rgba(68, 142, 129, .2);
}

.searchbar.clicked{
  display: flex;
}

.search{
  background-color: rgb(255, 255, 255);
  width: 100%;
  line-height: 30px;
  border-radius: 5px;
  border: rgb(145, 145, 145) 1px solid;
  text-align: left;
  padding: 0 0 0 6px;
  font-size: 22px;
  flex: 1;
  margin: 10px;
  font-family: 'Roboto', sans-serif;

}
        /*END HEADER*/

        /*FOOTER*/
footer{

}
        /*END FOOTER*/
