        /*GENERAL*/
/**{
  margin: 0;
  padding: 0;
}*/
p{
  margin: 0px;
  padding: 0px;
}
html{
  height: 100%;
}
body{
  box-sizing: border-box;
  min-width: 414px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;

  height: 100%;
}
#pageContainer{
  position: relative;
  min-height: 100%;
  margin-bottom: -96px;
}
main{
    margin-top: 70px;
}
section{
    padding: 16px 32px;
    width: calc(100% - 64px);
}
h1{
    font-size: 42px;
}
h2{
    font-size: 28px;
}
h3{
    margin-top: 24px;
    margin-bottom: 12px;
}
h2 > a{
  color: rgb(68, 142, 129);
}
.specialHeading{
    text-decoration: underline;
}
.settingsLink{
    text-decoration: none;
    color: #808080;
}
.light-text {
  color: rgb(247, 247, 247);
}
.center-text{
  text-align: center;
}
.block{
    display: block;
}
.center{
    margin: auto;
}
img{
    image-rendering: pixelated;
}
.insignificant{
    color: #808080;
}
        /*END GENERAL*/

        /*HEADER*/
header{
    overflow: hidden;
}
.contentPage header{
    display: none;
}
.navBar{
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: rgba(247, 247, 247, 1);
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 2px rgb(61, 61, 61) solid;
  /*-webkit-box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);
  -moz-box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);
  box-shadow: 0px -3px 23px 9px rgba(68, 142, 129, .4);*/
  z-index: 100;
}
.icon{
    flex: 1;
    text-align: center;
}
.icon:first-child{
  margin: 0 auto;
}
.icon > a > i{
  color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
  transition: ease-in .3s;
}
.icon > a > i.loggedIn{
  color: rgb(80, 150, 80);
}
.icon > a > i:hover{
  color: rgb(68, 142, 129);
}
.searchBar{
  display: none;
  position: absolute;
  bottom: -52px;

  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

#searchpls.clicked{
  display: flex;
  color: rgb(68, 142, 129);
}

.search{
  background-color: rgb(255, 255, 255);
  width: 100%;
  line-height: 30px;
  border-radius: 5px;
  border: rgb(145, 145, 145) 1px solid;
  text-align: left;
  padding: 0 0 0 6px;
  font-size: 22px;
  flex: 1;
  margin: 10px;
  font-family: 'Roboto', sans-serif;

}
        /*END HEADER*/
.subHeader{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: rgb(68, 142, 129);
  border-bottom: solid rgb(61, 61, 61) 2px;
}
.subHeadItem{
  flex: 1;
}
.subHeadItem > a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(247, 247, 247);
}
        /*MAIN PAGE*/
.pagecont{
  padding: 70px 0 0 0;
  color: black;
  width: 100%;
}
p{
  color: black;
  margin-top: 10px;
}
#newest, #topRated, #editorsChoice{
    margin-bottom: 64px;
    overflow: hidden;
}
@media(max-width: 600px) {
    #newest .contentcont:after{
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #ccccff;
        margin: 0px;
    }
    #topRated .contentcont:after{
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #ffcccc;
        margin: 0px;
    }
    #editorsChoice .contentcont:after{
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #ccffcc;
        margin: 0px;
    }
    #searchPage .contentcont:after{
        display: block;
        content: "";
        height: 8px;
        width: 100%;
        background-color: #707070;
        margin: 0px;
    }
}
#newest .center-text h2:before, #newest .center-text h2:after{
    display: block;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #ccccff;
    margin: 0px;
}
#topRated .center-text h2:before, #topRated .center-text h2:after{
    display: block;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #ffcccc;
    margin: 0px;
}
#editorsChoice .center-text h2:before, #editorsChoice .center-text h2:after{
    display: block;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #ccffcc;
    margin: 0px;
}
#searchPage .center-text h2:before, #searchPage .center-text h2:after{
    display: block;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #707070;
    margin: 0px;
}
.contentcont{
  width: 100%;
  position: relative;
  padding-bottom: 24px;
  cursor: pointer;
  transition: 1s opacity;
  opacity: 0;
}
.contentcont.visible{
    opacity: 1;
}
.contentcont.visible:hover{
    opacity: 0.8;
}
.contentPage .contentcont{
    opacity: 1;
}
.searchImage{
    height: 150px;
    width: auto;
}
img{
  display: block;
  width: 100%;
  margin: 0px;
}
.actioncont{
  /*display: flex;*/
  background-color: rgba(247, 247, 247, .6);
  align-items: center;
  padding: 6px 6px;
  margin-top: 8px;
  /*margin-bottom: 10px;*/
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 32px;
  overflow: hidden;
}
.center-text h2{
    margin: 0px;
}
.center-text h2 a{
    display: block;
    color: #202020;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 28px;
    width: 100%;
    padding: 16px 0px;
}

a.img{
    display: block;
}
.column {
  float: left;
  width: 23.65%;
  padding: 4px;

}
.column img{
  margin-top: 12px;
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*@media (max-width: 800px) {
  .column {
    width: 48%;
  }
  .contentcont{
    width: 256px;
  }
}
@media (max-width: 600px){
  .column {
    width: 100%;
    padding: 0px;
  }
}*/

/* WELCOME */
#welcome{
    background-color: #f0f0f0;
}
.hide{
    display: inline-flex;
    width: 100%;
}
.hide a{
    text-decoration: none;
    color: #ffffff;
    background-color: #f07060;
    border-radius: 6px;
    padding: 8px;
    margin: 12px auto 0px;
}
#welcome.clicked{
    display: none;
}

/* CONTENT */
.backButton{
    position: fixed;
    width: 96px;
    height: 96px;
    bottom: 32px;
    right: 32px;
    background-color: #101010;
    border-radius: 50%;
    opacity: 0.5;
}
.backButton a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 96px;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}
.contentInfo{
    position: static;
    margin-top: 0px;
    background-color: rgb(34, 71, 65);
}
.comments label{
    font-weight: bold;
    font-size: 18px;
}
.comment{
    border-top: 2px solid #c0c0c0;
    padding: 16px 0px;
    overflow: hidden;
}
.commentBox{
    width: 100%;
}
.contentPage .profilename, .contentPage .contentName{
    color: #ffffff;
}
.contentPage .comment .profilename{
    color: #000000;
}
.comment .likebtn, .comment .unlikebtn{
    float: right;
}
.contentName{
    font-size: 32px;
    font-style: italic;
    text-align: center;
}
.contentName a{
    color: black;
    text-decoration: none;
}
.contentBox{
    overflow: hidden;
}

/* FORMS */
input, label{
    display: block;
    margin: 8px 0px;
}
input.actionLink{
    color: #808080;
    background-color: transparent;
    border: none;
}
.comments form{
    clear:both;
}
.formSides{
    margin-top: 16px;
    overflow: hidden;
}
input[name="advancedSearch"] {
    margin: 0px;
    display: block;
    float: left;
}
input[name="searchRight"] {
    float: left;
    margin: 0px;
}
.advancedSearch{
    overflow: hidden;
}
.advancedSearch label{
    margin: 4px 8px;
    float: left;
}
.advancedSearch input{
    float: left;
}
.advancedSearch div{
    overflow: hidden;
    display: block;
    width: 100%;
}

/* PROFILE */
.profilecont{
  /*flex: 1;*/
  float: left;
}
.profilename{
  color: rgb(21, 21, 21);
  font-size: 22px;
  vertical-align: middle;
  transition: ease-in .3s;
  text-decoration: none;
}
.profilename:hover{
  color: rgb(71, 71, 71);
}

.profilethumb{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  transition: ease-in .3s;
}
.profilepic:hover{
  opacity: .5;
}
.profileDescription{
    overflow: hidden;
}
.profileDescription span{
    display: block;
}
.profileDescription .infoBox{
    float: left;
    width: 40%;
    background-color: #f0f0f0;
    padding: 6px;
}
.profileDescription p{
    float: right;
    width: 40%;
    padding: 6px;
}

.buttoncont{
    float: right;
}
.likebtn, .unlikebtn{
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in .15s;
  display: block;
}
.likebtn{
  background-color: rgb(68, 182, 129);
  color: white;
}
.likebtn:hover{
  background-color: rgb(247, 247, 247);
  color: black;
}
.unlikebtn{
  background-color: rgb(247, 247, 247);
  color: black;
}
.unlikebtn:hover{
  background-color: rgb(182, 68, 68);
  color: white;
}
        /*END MAIN PAGE*/

        /*UPLOAD PAGE*/
.upload{
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  text-align:center;
  padding: 15px;
  margin: 8px auto;
}
.upload > h2{
color: white;
margin: 16px 0;
}
.typeSelector{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.typeSelector > label{
  display: block;
}
.uploadStyle{
  color: white;
  display: block;
  position: relative;
  margin: 8px auto;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: linear .2s;
}
.uploadStyle:hover{
  color: rgb(80, 150, 80);
}
.input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    margin-left: 16px;
    top: 1%;
    right: 1%;
    height: 26px;
    width: 26px;
    background-color: #eee;
    border-radius: 50%;
    transition: linear .2s;
}
.uploadStyle:hover .input ~ .checkmark {
    background-color: #ccc;
}
.uploadStyle .input:checked ~ .checkmark {
    background-color: rgb(80, 150, 80);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.uploadStyle .input:checked ~ .checkmark:after {
    display: block;
}
.uploadStyle .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: white;
}
#uploadForm {
  display: none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
#titleInput{
  font-size: 24px;
  line-height: 30px;
  margin: 16px auto 8px auto ;
  text-align: center;
  border-top: none;
  border-bottom: solid 2px black;
  border-left: none;
  border-right: none;
}
.uploadFile{
  display: block;
  width: 100%;
  margin: 0 auto;
}
.uploadBtn{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploadBtn + .uploadBtnLabel {
  background-color: rgb(68, 182, 129);
  font-size: 20px;
  color: white;
  margin: 16px auto;
  text-decoration: none;
  width: 80%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .15s;
}

.uploadBtn:focus + .uploadBtnLabel,
.uploadBtn + .uploadBtnLabel:hover {
  background-color: rgb(247, 247, 247);
  color: black;
}
#textArea{
  width: 100%;
  height: 200px;;
  padding: 4px 8px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;

}
#uploadUrl{
  width: 80%;
  font-size: 18px;
  line-height: 26px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 8px auto;
  padding-left: 4px;
}
.uploadFormCont{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
.uploadFormCont > label{
  display: block;
  color: black;
}
.singleRow{
  width: 100%;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid .5px black;
}
#tagInput{
  text-align: center;
  width: 50%;
  margin: 8px auto;
}
#tagShowing{
  padding: 8px;
  border-radius: 5px;
}
.tagSubmit{
  background-color: rgb(68, 182, 129);
  font-size: 18px;
  color: white;
  margin: 16px auto 8px auto;
  text-decoration: none;
  width: 18%;
  font-weight: bold;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .15s;
}
.tagSubmit:hover{
  background-color: rgb(247, 247, 247);
  color: black;
}
#bigRedButton{
  background-color: rgb(182, 68, 68);
  font-size: 22px;
  color: white;
  margin: 32px auto 8px auto;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  padding: 16px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in .15s;
}
#bigRedButton:hover{
  background-color: rgb(247, 247, 247);
  color: black;
}
.termsOfUse{
  font-size: 14px;
  color: darkgray;
}

        /*END UPLOAD PAGE*/

        /*LOGIN PAGE*/
.loginCont{
  border-radius: 5px;
  text-align:center;
  padding: 15px;
  margin: 16px auto;
}
.loginCont > a{
  font-size: 16px;
  color: black;
}
.loginTxt{
  font-size: 22px;
  line-height: 30px;
  margin: 8px auto;
  width: 100%;
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
}
#loginBtn{
  background-color: rgb(68, 182, 129);
  font-size: 20px;
  color: white;
  margin: 16px auto 8px auto;
  text-decoration: none;
  width: 40%;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in .15s;
}
#loginBtn:hover{
  background-color: rgb(247, 247, 247);
  color: black;
}
        /*END LOGIN PAGE*/
        /*REGISTER PAGE*/

.registerCont{
  border-radius: 5px;
  text-align:center;
  padding: 15px;
  margin: 16px auto;
}
.registerTxt{
  font-size: 22px;
  line-height: 30px;
  margin: 8px auto;
  width: 100%;
  text-align: center;
  border: solid 1px black;
  border-radius: 5px;
}
#registerBtn{
  background-color: rgb(68, 182, 129);
  font-size: 20px;
  color: white;
  margin: 16px auto 8px auto;
  text-decoration: none;
  width: 40%;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in .15s;
}
#registerBtn:hover{
  background-color: rgb(247, 247, 247);
  color: black;
}

        /*END OF REGISER PAGE*/

        /*PROFILE PAGE*/
.profPicCont{
  width: 150px;
  border-radius: 50%;
  margin: 8px auto 0px auto;
  overflow: hidden;
}
h1.profile{
    margin: 0px 0px 4px 0px;
}
.joined{
  display: block;
  text-align: center;
  font-size: 14px;
  color: darkgrey;
}
.descriptionCont{
  text-align: center;
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.descriptionCont > p{
  margin: 0;
}
        /*FOOTER*/
main:after{
    content: "";
    display: block;
    height: 96px;
}
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 96px;
  background-color: rgb(61, 61, 61);
  /*padding-top: 10px;
  padding-bottom: 5px;*/
}
#footerContainer{
    margin-top: 28px;
}
footer a{
    color: #b0b0b0;
    text-decoration: none;
    margin: 0px 24px;
}
footer p{
    margin-top: 12px;
}
.fb{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 35px;
  height: 35px;

}
.twitter{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;

}
.display-center{
  text-align: center;
}

.display-center>img{
  display: inline-block;
}
#copyright{
  text-align: center;
  font-size: 12px;
}
.inpost{
  border: solid 1px black;
}
.inpost > img{
    width: 100%;
  height: 50%;

}

        /*END FOOTER*/

        @media (min-width: 700px) {
          body{

          }
          main{
            margin-top: 57px;
          }
          .navBar{
            padding: 2px;
          }
          #searchbtn{
            display: none;
          }
          .searchBar{
            display: block;
            background-color: rgba(247, 247, 247, 1);
            position: relative;
            bottom: 0;
            justify-content: center;
            width: 100%;
            flex: 1;
          }
          .loginCont{
            width: 40%;
            margin: 16px auto;
          }
          .registerCont{
            width: 40%;
            margin: 16px auto;
          }
          #titleInput{
            float: left;
            text-align: left;
            margin: 16px 0;
          }
          .uploadBtn + .uploadBtnLabel{
            width: 30%;
            clear: left;
          }
          .uploadFloat{
            float: left;width: 50%;
          }
          .tagSubmit{
            width: 10%;
            font-size: 20px;
            padding: 8px;
          }
          #bigRedButton{
            width: 80%;
          }
          .singleRow{
            width: 80%;
            margin: 8px auto;
          }
          #tagInput{
            width: 30%;
            text-align: center;
          }
          .descriptionCont{
            width: 60%;
            margin: 0 auto;
          }

        }


@media (min-width: 600px){
    .contentcont img.linkImg{
        height: 256px;
        width: initial;
    }
    .contentcont{
        width: initial;
        float: left;
        padding-bottom: 16px;
        margin: 24px;
        margin-bottom: 8px;
    }
    .actioncont{
        bottom: 16px;
    }
}

@media (min-width: 960px){
    main{
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .contentPage header{
        display: block;
    }
}
.postboxen{
  display: block;
  

  

}

.thepost{
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;

}
section > #getdown {
  clear: both;
}
